<div class="container">
  <div class="row">
    <div class="col-sm-6" id="recipes">
    <h3 class="mt-4 mb-4"> Receitas encontradas</h3>
      <ul class="list-unstyled">
        <% @recipes.each do |recipe| %>
          <li class="media mt-4 mb-4">
            <img class="mr-3" src="<%= recipe.recipe_image.url(:thumb)%>">
            <div class="media-body">
              <h5 class="mt-0 mb-1"><%= link_to recipe.title, recipe %></h5>
              <ul class="list-unstyled">
                <li><strong>Tipo:</strong> <%= recipe.recipe_type.name %></li>
                <li><strong>Cozinha:</strong> <%= recipe.cuisine.name %></li>
                <li><strong>Dificuldade:</strong> <%= recipe.difficulty %></li>
              </ul>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>