<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link <%= 'active' if(params[:controller] == 'home' && params[:action] == 'index') %>" href="<%= root_path %>">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link <%= 'active' if(params[:controller] == 'recipes' && params[:action] == 'new') %>" href="<%= new_recipe_path %>">Cadastrar receita</a>
      </li>
      <li class="nav-item">
        <a class="nav-link <%= 'active' if(params[:controller] == 'recipe_types' && params[:action] == 'new') %>" href="<%= new_recipe_type_path %>">Cadastrar tipo de receita</a>
      </li>
      <li class="nav-item">
        <a class="nav-link <%= 'active' if (params[:controller] == 'cuisines' && params[:action] == 'new') %>"  href="<%= new_cuisine_path %>">Cadastrar cozinha</a>
      </li>
    </ul>
  </div>
</nav>