<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link <%= 'active' if(params[:controller] == 'home' && params[:action] == 'index') %> id="pills-home-tab" data-toggle="pill" href="<%= root_path %>" role="tab">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link <%= 'active' if(params[:controller] == 'recipes' && params[:action] == 'new') %> id="pills-cadastro-tab" data-toggle="pill" href="<%= new_recipe_path %>" role="tab">Cadastrar receita</a>
      </li>
      <li class="nav-item">
        <a class="nav-link <%= 'active' if(params[:controller] == 'recipe_types' && params[:action] == 'new') %> id="pills-tipo-tab" data-toggle="pill" href="<%= new_recipe_type_path %>" role="tab">Cadastrar tipo de receita</a>
      </li>
      <li class="nav-item">
        <a class="nav-link <%= 'active' if (params[:controller] == 'cuisines' && params[:action] == 'new') %> id="pills-cozinha-tab" data-toggle="pill" href="<%= new_cuisine_path %>" role="tab">Cadastrar cozinha</a>
      </li>
    </ul>
  </div>
</nav>