<%= render "shared/header" %>


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">CookBook</h1>
    <p class="lead">Bem-vindo ao maior livro de receitas online.</p>
  </div>
</div>

<div class="card-group">
    <div class="card">
        <div class="col-sm-6">
            <h3>Receitas destaque</h3>
        
            <div class="card bg-light mb-3" style="max-width: 18rem;">
                <div id="recipes-featured">
                    <% @recipes_featured.each do |recipe| %>
                    
                        <div class="card-img-top", alt="Card image cap">
                            <%= image_tag recipe.recipe_image.url%>
                        </div>

                        <div class="card-body">
                            <h4><%= link_to recipe.title,recipe, class: "card-title" %></h4> 
                            <p class="card-text"><%= image_tag 'star.png'%></p>
                        </div>

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><%= recipe.recipe_type.name %></li>
                            <li class="list-group-item"><%= recipe.cuisine.name %></li>
                            <li class="list-group-item"><%= recipe.difficulty %></li>
                            <li class="list-group-item"><%= recipe.cook_time %> minutos</li>     
                        </ul>
                    <% end %>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="col-sm-6">
            <h3>Outras receitas</h3>

            <div class="card bg-light mb-3" style="max-width: 18rem;">
                <div id="other-recipes">
                    <% @recipes.each do |recipe| %>
                        <div class="card-img-top", alt="Card image cap">
                            <%= image_tag recipe.recipe_image.url%>
                        </div>

                        <div class="card-body">
                            <h4><%= link_to recipe.title,recipe, class: "card-title" %></h4> 
                        </div>

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><%= recipe.recipe_type.name %></li>
                            <li class="list-group-item"><%= recipe.cuisine.name %></li>
                            <li class="list-group-item"><%= recipe.difficulty %></li>
                            <li class="list-group-item"><%= recipe.cook_time %> minutos</li>     
                        </ul>
                    <% end %>
                </div>
            </div>
        </div>
</div>

